body {
    font: 14px Arial;
    text-align: center;
}

h1 {
    text-align: center;
}

canvas {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    margin: auto;
    background: rgb(247, 247, 247);
    cursor: crosshair;
    
}

output {
    display: block;
    font-family: Consolas;
}

svg {
    display: block;
    margin: auto;
}

#target {
    float: right;
}

#global_error {
    padding-top: 10px;
    color: #d46363;
    font-weight: bold;
    text-align: center;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
}


#controls input[type="range"] {
    position: relative;
    width: 300px;
}

#controls #inputs {
    margin-left: 20px;
}

#controls #target {
    margin: 0;
    padding: 20px;
    font-size: 40px;
}

.correct {
    background: rgba(26, 188, 156, 0.1);
}

.wrong {
    background:rgba(231, 76, 60, 0.1);
}


/** Neural network : **/

#tooltip {
    position: absolute;
    display: inline-block;
    padding: 5px;
    font: 12px Consolas;
    text-align: left;
    background: rgba(238, 238, 238, 0.67);
    border: 1px solid #515151;
}

#tooltip.off {
    display: none;
}

.neuron {
    /* fill: #ffe5e5; */
    stroke: #c7c7c7;
    stroke-width: 2;
}

.weight {
    fill: none;
    stroke: #c7c7c7;
}

.weight-text {
    font-size: 11px;
    fill: #7D3833;
}