body {
    font: 14px Arial;
    text-align: center;
}

canvas {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    margin: auto;
    cursor: crosshair;
    background: rgb(247, 247, 247);
}

output {
    display: block;
    font-family: Consolas;
}

#playground {
    height: 400px;
}

#global_error {
    padding-top: 10px;
    color: #d46363;
    font-weight: bold;
    text-align: center;
}

textarea { /* exported data */
    width: 400px;
    height: 200px;
}


svg {
    display: block;
    margin: auto;
}

/** Neural network : **/

#tooltip {
    position: absolute;
    display: inline-block;
    padding: 5px;
    font: 12px Consolas;
    text-align: left;
    background: rgba(238, 238, 238, 0.67);
    border: 1px solid #515151;
}

#tooltip.off {
    display: none;
}

.neuron {
    /* fill: #ffe5e5; */
    stroke: #c7c7c7;
    stroke-width: 2;
}

.weight {
    fill: none;
    stroke: #c7c7c7;
}

.weight-text {
    font-size: 11px;
    fill: #7D3833;
}